asn1crypto==0.24.0
appdirs==1.4.1
attrs==19.2.0
cffi==1.14.5
configobj==5.0.6
constantly==15.1.0
cryptography==3.2
idna==2.7
incremental==16.10.1
ipaddress==1.0.22
ldaptor==21.2.0
packaging==16.8
pyasn1==0.1.9
pyasn1-modules==0.0.9
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.1.10
service-identity==21.1.0
six==1.16.0
Twisted==20.3.0
wheel==0.24.0
zope.interface==5.3.0
