appdirs==1.4.0
click==6.7
Flask==0.12
gevent==1.1.1
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.5
ldap3==2.2.0
locustio==0.7.5
MarkupSafe==0.23
msgpack-python==0.4.8
packaging==16.8
pyasn1==0.2.2
pyparsing==2.1.10
requests==2.20.1
six==1.10.0
Werkzeug==0.11.15
